.container{
  //background-color: var(--color-yellow);
  //color: var(--color-white);
  //justify-content: center;
  //justify-items: center;
  //align-items: center;
}
.title{
  color: var(--color-black);
  font-size: 1rem;
  min-height: 200px;
}