.resultContainer{
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 15px;
  padding: 0 15px 0 15px;
}
.result{
  display: flex;
  flex-direction: row;
}
.searchResults{
  display: grid;
  grid-template-columns: 1fr;
}
.resultItem{
  display: flex;
  flex-direction: column;
}
.resultSubItem{
  display: flex;
  flex-direction: row;
}
.venueImage{
  margin-right: 15px;
}
.venueDetail{
  position: relative;
  display: flex;
  flex-direction: column;
}
.venueAddress, .venueName, .accessibilityFeature{
  padding: 5px 0 5px 0;
}
.venueName{
  font-size: 24px;
  color: var(--color-black);
  margin-bottom: 2px;
}
.venueAddress{
  font-size: 20px;
  margin-bottom: 2px;
}
.accessibilityFeature{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 5px;
  margin: 5px 0 5px 0;
}
.accessibilityFeatureItem{
  display: flex;
  flex-direction: row;
}
.accessibilityIcon{
  background-color: var(--coloe-bright-blue);
  border-radius: 45px;
  padding: 2px 5px 2px 5px;
  font-size: 20px;
  margin-right: 10px;
}

.accessibilityText{
  font-size: 20px;
  text-align: center;
}

.readMore{
  display: flex;
  justify-items: center;
  justify-content: center;
}

#readBtn{
  background-color: var(--color-yellow);
  color: var(--color-black);
  font-size: var(--body-font-size);
  padding: 10px 15px 10px 15px;
  border-radius: 50px;
  border: 0;
  margin: 10px 0 10px 0;
}


