@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.title {
  color: var(--color-black);
  font-size: 1rem;
  min-height: 200px;
}

:root {
  /*-------------colors-----------*/
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-blue: #005fca;
  --coloe-bright-blue: #60d0ff;
  --color-light-blue: #f2faff;
  --color-yellow: #FEE7C9;
  --color-red: red;
  /*-------------fonts-----------*/
  --heading-font:"Roboto", sans-serif;
  --body-font: "Roboto", sans-serif;
  /*-------------font size-----------*/
  /*.5rem=8px, 1rem=16px, 1.5rem=24px */
  --heading-font-size: 1.5rem;
  --search-font-size: 1.3rem;
  --body-font-size: 1rem;
  /*-------------padding-----------*/
  --xlarge-padding: 60px;
  --large-padding: 50px;
  --mid-padding: 25px;
  --small-padding: 15px;
  --xsmall-padding: 10px;
  --xxsmall-padding: 5px;
  /*-------------font weight-----------*/
  /*-------------z index-----------*/
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.navbar {
  background-color: var(--color-black);
  color: var(--color-white);
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 25px;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.logo {
  color: var(--color-white);
}

.navbar_menu {
  display: flex;
  align-items: center;
}

.navbar_links::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--color-dark-blue);
  display: block;
  margin: auto;
}

.navbar_links:hover::after {
  width: 100%;
  transition: 0.5s;
}

.navbar_links:hover {
  color: var(--color-dark-blue);
}

.navbar_links {
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.5rem;
  color: var(--text-color-light);
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
  margin: 2px;
}

main {
  margin: 0;
  padding: 0;
}

.searchEntry {
  display: flex;
  flex-direction: column;
}

.websiteTitle {
  font-family: var(--heading-font);
  font-size: var(--heading-font-size);
  padding: var(--small-padding) var(--small-padding) var(--xlarge-padding) var(--small-padding);
}

.searchForm {
  background-color: var(--color-yellow);
  display: flex;
  flex-direction: row;
  padding: var(--xlarge-padding) var(--mid-padding) var(--xlarge-padding) var(--mid-padding);
  justify-content: center;
  align-items: center;
}

.searchBar {
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding: var(--xsmall-padding) var(--xsmall-padding) var(--xsmall-padding) var(--xsmall-padding);
  border-radius: 45px;
  border: 1px solid var(--color-black);
  width: 1000px;
  justify-content: center;
  align-items: center;
}

.search-icon, .clear-icon {
  font-size: 25px;
  padding: 5px 10px 5px 10px;
  color: lightslategray;
}

.searchBar:focus {
  border: 2px solid grey;
}

.searchBar input::-webkit-input-placeholder {
  color: grey;
}

.searchBar input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.searchBar:hover, .searchBar:focus-within {
  box-shadow: 0 2px 5px 2px white;
}

.search {
  font-size: var(--search-font-size);
  width: 100%;
  border: 0;
  background: white;
  outline: none;
}

.clear {
  justify-content: center;
  align-items: center;
  color: lightslategray;
  border-right: thin solid var(--color-white);
}

.clear:hover i, .clear:focus i {
  color: red;
}

#searchBtn {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  font-size: var(--search-font-size);
  padding: 15px 25px 15px 25px;
  margin-left: 20px;
  border-radius: 45px;
  border: 0;
  cursor: pointer;
}

.filterButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

#applyBtn, #clearBtn {
  background-color: var(--color-yellow);
  color: var(--color-black);
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 45px;
  border: 0;
}

.venueInfo {
  color: black;
}

.resultContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 15px;
  padding: 0 15px 0 15px;
}

.result {
  display: flex;
  flex-direction: row;
}

.searchResults {
  display: grid;
  grid-template-columns: 1fr;
}

.resultItem {
  display: flex;
  flex-direction: column;
}

.resultSubItem {
  display: flex;
  flex-direction: row;
}

.venueImage {
  margin-right: 15px;
}

.venueDetail {
  position: relative;
  display: flex;
  flex-direction: column;
}

.venueAddress, .venueName, .accessibilityFeature {
  padding: 5px 0 5px 0;
}

.venueName {
  font-size: 24px;
  color: var(--color-black);
  margin-bottom: 2px;
}

.venueAddress {
  font-size: 20px;
  margin-bottom: 2px;
}

.accessibilityFeature {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 5px;
  margin: 5px 0 5px 0;
}

.accessibilityFeatureItem {
  display: flex;
  flex-direction: row;
}

.accessibilityIcon {
  background-color: var(--coloe-bright-blue);
  border-radius: 45px;
  padding: 2px 5px 2px 5px;
  font-size: 20px;
  margin-right: 10px;
}

.accessibilityText {
  font-size: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.accessibilityText ul {
  font-size: 20px;
  text-align: center;
}

.readMore {
  display: flex;
  justify-items: center;
  justify-content: center;
}

#readBtn {
  background-color: var(--color-yellow);
  color: var(--color-black);
  font-size: var(--body-font-size);
  padding: 10px 15px 10px 15px;
  border-radius: 50px;
  border: 0;
  margin: 10px 0 10px 0;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 85vh;
  background: var(--color-light-blue);
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup.hide {
  display: none;
  opacity: 0;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: red;
  color: var(--color-white);
  border-radius: 50%;
  border: none;
  padding: 5px;
}

.linkBtn {
  text-transform: capitalize;
  padding: 5px;
  background: var(--color-dark-blue);
  color: var(--color-white);
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  right: 60px;
}

.venuePopupInfo {
  display: block;
  margin: 10px;
  padding: 20px;
}

.venueMainInfo {
  display: block;
}
.venueMainInfo .venueSubName {
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-black);
}

.venueSubInfo {
  display: flex;
  flex-direction: row;
}
.venueSubInfo .venueDescription {
  display: flex;
  flex-direction: column;
}
.venueSubInfo .venueDescription .venueSubAddress, .venueSubInfo .venueDescription .venuePhone {
  font-size: 1.5rem;
  font-weight: 20;
  color: var(--color-black);
}
.venueSubInfo .venueDescription .venueDes {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 20;
  color: var(--color-black);
}
.venueSubInfo .venueSubImage img {
  border-radius: 5px;
}

.venueAccessibilityDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.venueAccessibilityDetail .stuff {
  font-size: 1.2rem;
  color: var(--color-black);
}

/*# sourceMappingURL=style.css.map */
