@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.title {
  color: var(--color-black);
  font-size: 1rem;
  min-height: 200px;
}

:root {
  /*-------------colors-----------*/
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-blue: #005fca;
  --coloe-bright-blue: #60d0ff;
  --color-light-blue: #f2faff;
  --color-yellow: #FEE7C9;
  --color-red: red;
  /*-------------fonts-----------*/
  --heading-font:"Roboto", sans-serif;
  --body-font: "Roboto", sans-serif;
  /*-------------font size-----------*/
  /*.5rem=8px, 1rem=16px, 1.5rem=24px */
  --heading-font-size: 1.5rem;
  --search-font-size: 1.3rem;
  --body-font-size: 1rem;
  /*-------------padding-----------*/
  --xlarge-padding: 60px;
  --large-padding: 50px;
  --mid-padding: 25px;
  --small-padding: 15px;
  --xsmall-padding: 10px;
  --xxsmall-padding: 5px;
  /*-------------font weight-----------*/
  /*-------------z index-----------*/
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#main {
  display: block;
}

.results {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #005fca;
}

.navbar {
  background-color: var(--color-black);
  color: var(--color-white);
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 25px;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.logo {
  color: var(--color-white);
}

.navbar_menu {
  display: flex;
  align-items: center;
}

.navbar_links::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--color-dark-blue);
  display: block;
  margin: auto;
}

.navbar_links:hover::after {
  width: 100%;
  transition: 0.5s;
}

.navbar_links:hover {
  color: var(--color-dark-blue);
}

.navbar_links {
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.5rem;
  color: var(--text-color-light);
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
  margin: 2px;
}

.search-container {
  margin: 0;
  padding: 0;
}

.website-title {
  font-family: var(--heading-font);
  font-size: var(--heading-font-size);
  padding: var(--small-padding) var(--small-padding) var(--xlarge-padding) var(--small-padding);
}

.search-form {
  background-color: var(--color-yellow);
  display: flex;
  flex-direction: row;
  padding: var(--xlarge-padding) var(--mid-padding) var(--xlarge-padding) var(--mid-padding);
  justify-content: center;
  align-items: center;
}

.search-bar {
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding: var(--xsmall-padding) var(--xsmall-padding) var(--xsmall-padding) var(--xsmall-padding);
  border-radius: 45px;
  border: 1px solid var(--color-black);
  width: 1000px;
  justify-content: center;
  align-items: center;
}

.search-bar:focus {
  border: 2px solid grey;
}

.search-bar input::-webkit-input-placeholder {
  color: grey;
}

.search-bar input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.search-icon, .mic-icon {
  font-size: 25px;
  padding: 5px 10px 5px 10px;
  color: lightslategray;
}

.mic-icon {
  opacity: 0;
}

.search {
  font-size: var(--search-font-size);
  width: 100%;
  border: 0;
  background: white;
  outline: none;
}

#searchBtn {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  font-size: var(--search-font-size);
  padding: 15px 25px 15px 25px;
  margin-left: 20px;
  border-radius: 45px;
  border: 0;
  cursor: pointer;
}

.filterButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

#applyBtn, #clearBtn {
  background-color: var(--color-yellow);
  color: var(--color-black);
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 45px;
  border: 0;
}

.venueInfo {
  color: black;
}

.result-container {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 15px;
  padding: 0 15px 0 15px;
}

/*# sourceMappingURL=style.css.map */
